---
import firstProjectImage from "../assets/images/firstProject.webp";
---

<style>
  .group:hover .overlay {
    opacity: 1;
    transition: opacity 0.3s;
  }
  .group:hover img {
    filter: blur(4px);
  }
</style>
src\pages\Proyects.astro
<body class="bg-gray-100">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-2 m-16 pt-10 bg-red-500" >
    <div class="group relative overflow-hidden rounded-lg">
      <a href="/projects/firstproject">
        <img
          class="h-auto max-w-full"
          src="./firstProject.webp"
          alt="Imagen 1"
        />
        <div
          class="overlay absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center opacity-0"
        >
          <p class="text-white text-lg">Descripción de la imagen 1</p>
        </div>
      </a>
    </div>
    <!-- <div class="group relative overflow-hidden rounded-lg">
      <a href="">
        <img
          class="h-auto max-w-full"
          src="../../public/agus.webp"
          alt="Imagen 2"
        />
        <div
          class="overlay absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center opacity-0"
        >
          <p class="text-white text-lg">Descripción de la imagen 2</p>
        </div>
      </a>
    </div> -->
  

    <div class="group relative overflow-hidden rounded-lg">
      <a href="">
        <img
          class="h-auto max-w-full"
          src="./secondProject.webp"
          alt="Imagen 4"
        />
        <div
          class="overlay absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center opacity-0"
        >
          <p class="text-white text-lg">Descripción de la imagen 4</p>
        </div>
        
      </a>
      
    </div>
    <div class="group relative overflow-hidden rounded-lg ">
      <a href="">
        <figure>

          <img
          class="h-auto max-w-full"
          src="./thirdProject.webp"
          alt="Imagen 3"
          />
        </figure>
        <div
          class="overlay absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center opacity-0"
        >
          <p class="text-white text-lg">Descripción de la imagen 3</p>
        </div>
      </a>
    </div>
  </div>
</body>
