<style>
  .group:hover .overlay {
    opacity: 1;
    transition: opacity 0.3s;
  }
  .group:hover img {
    filter: blur(4px);
  }
</style>

<body class="bg-gray-100">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-2 m-16 pt-10 ">
    <div class="grid gap-2">
      <div class="group relative overflow-hidden rounded-lg">
        <a href="/projects/firstproject">
          <img
            class="h-auto max-w-full"
            src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image.jpg"
            alt="Imagen 1"
          />
          <div
            class="overlay absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center opacity-0"
          >
            <p class="text-white text-lg">Descripción de la imagen 1</p>
          </div>
        </a>
      </div>
      <div class="group relative overflow-hidden rounded-lg">
        <a href="">
          <img
            class="h-auto max-w-full"
            src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-1.jpg"
            alt="Imagen 2"
          />
          <div
            class="overlay absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center opacity-0"
          >
            <p class="text-white text-lg">Descripción de la imagen 2</p>
          </div>
        </a>
      </div>
      <div class="group relative overflow-hidden rounded-lg">
        <a href="">
          <img
            class="h-auto max-w-full"
            src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-2.jpg"
            alt="Imagen 3"
          />
          <div
            class="overlay absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center opacity-0"
          >
            <p class="text-white text-lg">Descripción de la imagen 3</p>
          </div>
        </a>
      </div>
    </div>
    <div class="grid gap-2">
      <div class="group relative overflow-hidden rounded-lg">
        <a href="">
          <img
            class="h-auto max-w-full"
            src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-3.jpg"
            alt="Imagen 4"
          />
          <div
            class="overlay absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center opacity-0"
          >
            <p class="text-white text-lg">Descripción de la imagen 4</p>
          </div>
        </a>
      </div>
      <div class="group relative overflow-hidden rounded-lg">
        <a href="">
          <img
            class="h-auto max-w-full"
            src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-4.jpg"
            alt="Imagen 5"
          />
          <div
            class="overlay absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center opacity-0"
          >
            <p class="text-white text-lg">Descripción de la imagen 5</p>
          </div>
        </a>
      </div>
      <div class="group relative overflow-hidden rounded-lg">
        <a href="">
          <img
            class="h-auto max-w-full"
            src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-5.jpg"
            alt="Imagen 6"
          />
          <div
            class="overlay absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center opacity-0"
          >
            <p class="text-white text-lg">Descripción de la imagen 6</p>
          </div>
        </a>
      </div>
    </div>
    <div class="grid gap-2">
      <div class="group relative overflow-hidden rounded-lg">
        <a href="">
          <img
            class="h-auto max-w-full"
            src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-6.jpg"
            alt="Imagen 7"
          />
          <div
            class="overlay absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center opacity-0"
          >
            <p class="text-white text-lg">Descripción de la imagen 7</p>
          </div>
        </a>
      </div>
      <div class="group relative overflow-hidden rounded-lg">
        <a href="">
          <img
            class="h-auto max-w-full"
            src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-7.jpg"
            alt="Imagen 8"
          />
          <div
            class="overlay absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center opacity-0"
          >
            <p class="text-white text-lg">Descripción de la imagen 8</p>
          </div>
        </a>
      </div>
      <div class="group relative overflow-hidden rounded-lg">
        <a href="">
          <img
            class="h-auto max-w-full"
            src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-8.jpg"
            alt="Imagen 9"
          />
          <div
            class="overlay absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center opacity-0"
          >
            <p class="text-white text-lg">Descripción de la imagen 9</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</body>
