<!-- ---

---

<style>
  .group:hover .overlay {
    opacity: 1;
    transition: opacity 0.3s;
  }
  .group:hover img {
    filter: blur(4px);
  }
</style>

<body class="bg-gray-100">
  <div
    class="grid grid-cols-1 md:grid-cols-2 gap-2 p-16 mt-10 md:h-screen bg-blue-500"
  >
    <div class="group relative overflow-hidden rounded-lg">
      <a href="/projects/graficosEsquematicos">
        <img
          class="h-auto max-w-full"
          src="./firstProject.webp"
          alt="Imagen 1"
        />
        <div
          class="overlay absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center opacity-0"
        >
          <p class="text-white text-lg text-pretty">Gráficos esquemáticos</p>
        </div>
      </a>
    </div>

    <div class="group relative overflow-hidden rounded-lg">
      <a href="/projects/centroSocial">
        <img
          class="h-auto max-w-full"
          src="./cuartoProject.webp"
          alt="Imagen 2"
        />
        <div
          class="overlay absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center opacity-0"
        >
          <p class="text-white text-lg text-center">Centro social de salud y deporte</p>
        </div>
      </a>
    </div>
    <div class="group relative overflow-hidden rounded-lg">
      <a href="/projects/renders">
        <figure>
          <img
            class="h-auto max-w-full"
            src="./thirdProject.webp"
            alt="Imagen 3"
          />
        </figure>
        <div
          class="overlay absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center opacity-0"
        >
          <p class="text-white text-lg text-pretty">Renders</p>
        </div>
      </a>
    </div>
    <div class="group relative overflow-hidden rounded-lg">
      <a href="/projects/centroSocial">
        <img
          class="h-auto max-w-full"
          src="./secondProject.webp"
          alt="Imagen 4"
        />
        <div
          class="overlay absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center opacity-0"
        >
          <p class="text-white text-lg text-pretty">Equipamiento</p>
        </div>
      </a>
    </div>
  </div>
</body> -->
<div class="relative">
  <h1 class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white z-50">ESTOY CANSADO JEFE</h1>
  <img class="h-screen max-w-full z-0" src="./cansado.jpg" alt="Imagen 4" />
</div>

