---
// src/components/ContactInfo.astro

const email = "agus.sanchezmebar@hotmail.com";
const linkedin = "https://ar.linkedin.com/in/maria-agustina-s-mebar-b825191a2";
const instagram = "https://instagram.com/gaucha.arq";
---

<section id="contacto" class="mt-32 md:mt-48 mb-24">
  <div class="flex justify-center items-center space-x-8 md:space-x-12">
    <a
      href={`mailto:${email}`}
      class="hover:scale-125 transition-transform duration-300 flex items-center"
      title="Enviar Email"
    >
      <svg
        width="40"
        height="40"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 49.4 512 399.42"
      >
        <g fill="none" fill-rule="evenodd">
          <g fill-rule="nonzero">
            <path
              fill="#4285f4"
              d="M34.91 448.818h81.454V251L0 163.727V413.91c0 19.287 15.622 34.91 34.91 34.91z"
            ></path>
            <path
              fill="#34a853"
              d="M395.636 448.818h81.455c19.287 0 34.909-15.622 34.909-34.909V163.727L395.636 251z"
            ></path>
            <path
              fill="#fbbc04"
              d="M395.636 99.727V251L512 163.727v-46.545c0-43.142-49.25-67.782-83.782-41.891z"
            ></path>
          </g>
          <path
            fill="#ea4335"
            d="M116.364 251V99.727L256 204.455 395.636 99.727V251L256 355.727z"
          ></path>
          <path
            fill="#c5221f"
            fill-rule="nonzero"
            d="M0 117.182v46.545L116.364 251V99.727L83.782 75.291C49.25 49.4 0 74.04 0 117.18z"
          ></path>
        </g>
      </svg>
    </a>

    <a
      href={instagram}
      target="_blank"
      rel="noopener noreferrer"
      class="hover:scale-125 transition-transform duration-300 flex items-center"
      title="Instagram Gaucha Arq"
    >
      <svg
        width="40"
        height="40"
        viewBox="0 0 256 256"
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="xMidYMid"
      >
        <defs>
          <radialGradient id="ig-grad" cx="0.2" cy="1" r="1.1">
            <stop offset="0" stop-color="#f8952d"></stop>
            <stop offset="0.25" stop-color="#dd326e"></stop>
            <stop offset="0.5" stop-color="#bd2c93"></stop>
            <stop offset="1" stop-color="#4c5fd7"></stop>
          </radialGradient>
        </defs>
        <path
          d="M128 0C93.284 0 88.932.148 75.304.773 61.7.148 53.616 2.427 46.5 5.19c-7.354 2.859-13.593 6.674-19.8 12.88-6.207 6.208-10.021 12.446-12.88 19.801-2.763 7.116-5.042 15.201-5.666 28.804C.148 88.932 0 93.284 0 128s.148 39.068.773 52.696c.624 13.603 2.903 21.688 5.666 28.804 2.859 7.355 6.673 13.593 12.88 19.8 6.207 6.207 12.446 10.021 19.801 12.88 7.116 2.763 15.201 5.042 28.804 5.666 13.628.625 17.98.773 52.696.773s39.068-.148 52.696-.773c13.603-.624 21.688-2.903 28.804-5.666 7.355-2.859 13.593-6.673 19.8-12.88 6.207-6.207 10.021-12.446 12.88-19.801 2.763-7.116 5.042-15.201 5.666-28.804.625-13.628.773-17.98.773-52.696s-.148-39.068-.773-52.696c-.624-13.603-2.903-21.688-5.666-28.804-2.859-7.354-6.673-13.593-12.88-19.8-6.207-6.207-12.446-10.021-19.801-12.88-7.116-2.763-15.201-5.042-28.804-5.666C167.068.148 162.716 0 128 0zm0 23.063c34.131 0 38.17.13 51.644.744 12.47.57 19.243 2.646 23.75 4.398 5.968 2.32 10.23 5.093 14.713 9.576 4.483 4.483 7.256 8.745 9.576 14.713 1.752 4.507 3.828 11.28 4.398 23.75.614 13.474.744 17.513.744 51.644s-.13 38.17-.744 51.644c-.57 12.47-2.646 19.243-4.398 23.75-2.32 5.968-5.093 10.23-9.576 14.713-4.483 4.483-8.745 7.256-14.713 9.576-4.507 1.752-11.28 3.828-23.75 4.398-13.474.614-17.513.744-51.644.744s-38.17-.13-51.644-.744c-12.47-.57-19.243-2.646-23.75-4.398-5.968-2.32-10.23-5.093-14.713-9.576-4.483-4.483-7.256-8.745-9.576-14.713-1.752-4.507-3.828-11.28-4.398-23.75-.614-13.474-.744-17.513-.744-51.644s.13-38.17.744-51.644c.57-12.47 2.646-19.243 4.398-23.75 2.32-5.968 5.093-10.23 9.576-14.713 4.483-4.483 8.745-7.256 14.713-9.576 4.507-1.752 11.28-3.828 23.75-4.398 13.474-.614 17.513-.744 51.644-.744z"
          fill="url(#ig-grad)"></path>
        <path
          d="M128 62.254a65.746 65.746 0 1 0 0 131.492 65.746 65.746 0 0 0 0-131.492zm0 108.429a42.683 42.683 0 1 1 0-85.366 42.683 42.683 0 0 1 0 85.366z"
          fill="url(#ig-grad)"></path>
        <circle cx="186.49" cy="69.51" r="15.36" fill="url(#ig-grad)"></circle>
      </svg>
    </a>

    <a
      href={linkedin}
      target="_blank"
      class="hover:scale-125 transition-transform duration-300 flex items-center"
      title="LinkedIn"
    >
      <svg
        width="40"
        height="40"
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="xMidYMid"
        viewBox="0 0 256 256"
      >
        <path
          d="M218.123 218.127h-37.931v-59.403c0-14.165-.253-32.4-19.728-32.4-19.756 0-22.779 15.434-22.779 31.369v60.43h-37.93V95.967h36.413v16.694h.51a39.907 39.907 0 0 1 35.928-19.733c38.445 0 45.533 25.288 45.533 58.186l-.016 67.013ZM56.955 79.27c-12.157.002-22.014-9.852-22.016-22.009-.002-12.157 9.851-22.014 22.008-22.016 12.157-.003 22.014 9.851 22.016 22.008A22.013 22.013 0 0 1 56.955 79.27m18.966 138.858H37.95V95.967h37.97v122.16ZM237.033.018H18.89C8.58-.098.125 8.161-.001 18.471v219.053c.122 10.315 8.576 18.582 18.89 18.474h218.144c10.336.128 18.823-8.139 18.966-18.474V18.454c-.147-10.33-8.635-18.588-18.966-18.453"
          fill="#0A66C2"></path>
      </svg>
    </a>
  </div>
</section>
