---

---

<main class="flex sm:mx-auto mx-2 h-screen justify-evenly text-2xl">
  <section class="justify-center flex flex-col flex-grow text-center max-w-4xl">
    <h3 class="text-black text-xl sm:text-2xl">Hola! Soy</h3>
    <h1 class="text-5xl font-forum">Agustina</h1>

    <h3 class="text-naranja mt-2 border-blue-500">
      Arquitecta de Cordoba, Argentina.
    </h3>
    <div class="">
      <p class="text-black my-4 text-base text-pretty">
        Tengo 28 años y desde muy pequeña, en mi querida ciudad de La Rioja,
        soñaba con ser arquitecta. Me fascinaba cada rincón de los lugares que
        visitaba, observando cómo los espacios influían en las personas, cómo
        una simple calle o una casa podían contar historias y transformar
        emociones. Esa curiosidad me llevó a Córdoba, donde estudié arquitectura
        con un propósito claro: usar el diseño como una herramienta para mejorar
        la calidad de vida y el bienestar de las personas. Para mí, la
        arquitectura no es solo una profesión, es una forma de conectar con el
        entorno y crear espacios que emocionen.
      </p>
    </div>

    <div class="flex m-6 gap-6 justify-center">
      <a
        href="#proyectos"
        class="inline-flex border items-center py-3 px-5 text-base font-medium text-center text-black rounded-lg hover:bg-velde hover:text-black hover:border-black"
      >
        Conóceme
        <svg
          class="ml-2 -mr-1 w-5 h-5"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
          ><path
            fill-rule="evenodd"
            d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
            clip-rule="evenodd"></path></svg
        >
      </a>
    </div>
  </section>

  <aside class="self-center mt-4 sm:mt-0 sm">
    <img
      class="w-full sm:w-64 rounded-3xl object-cover hidden sm:block"
      src="/agus.webp"
      alt="Foto de Agustina"
    />
  </aside>
</main>
