---
import Layout from "../layouts/Layout.astro";

// src/pages/images/image1.astro
---
<Layout>
  <h1>Image 1 Details</h1>
  <img src="/images/image1.jpg" alt="Image 1" />
  <p>Descripción de la imagen 1...</p>
</Layout>
