---
// src/pages/projects/FirstProject.astro

import Layout from "../../layouts/Layout.astro";
import ArrowDown from "../../components/ArrowDown.astro";

const title = "Equipamiento";
const srcImg = "/secondProject.webp";
---

<Layout {title}>
  <main class="md:mx-20">
    <div class="h-screen flex flex-col">
      <div class="flex-1 flex justify-center items-center max-h-[80%]">
        <img src={srcImg} class="h-auto max-h-full" alt={title} />
      </div>
      <div class="flex justify-center md:pt-9 md:-mt-0 -mt-24 animate-bounce">
        <a href="#experiencia" class="scroll-smooth">
          <ArrowDown />
        </a>
      </div>
    </div>

    <div id="experiencia" class="pt-20">
      <div class="my-7 h-24 flex items-center justify-center text-center">
        <h1 class="text-4xl text-black   p-7">
          04 | {title}
        </h1>
      </div>
      <div class="mt-5 ">
     
        <p class="text-pretty p-7">
          Este proyecto fue desarrollado para la materia de Equipamiento, donde
          se nos asignó la tarea de diseñar un monoambiente utilizando madera y
          metal como materiales principales. El objetivo era crear un espacio
          multifuncional que pudiera satisfacer diversas actividades diarias
          básicas, como dormir, comer y asearse, además de ofrecer la
          posibilidad de estudiar, recibir visitas que se queden a dormir,
          recibir gente en planta baja y realizar yoga en el mismo espacio. Se
          puso especial énfasis en la flexibilidad del diseño para que el área
          destinada a la práctica de yoga pudiera separarse de la cocina,
          garantizando así un entorno adaptable y funcional que responde a las
          necesidades de un estilo de vida moderno y versátil.
        </p>
      </div>
    </div>
    <body>
      <div class="flex flex-wrap -mx-2 ">
        <img class="w-full md:w-1/2 px-2 mb-4 object-cover rounded-xl" src="/Equipamiento/equip1.webp" alt="Imagen 1" />
        <img class="w-full md:w-1/2 px-2 mb-4 object-cover rounded-xl" src="/Equipamiento/equip2.webp" alt="Imagen 2" />
        <img class="w-full md:w-1/2 px-2 mb-4 object-cover rounded-xl" src="/Equipamiento/equip3.webp" alt="Imagen 3" />
        <img class="w-full md:w-1/2 px-2 mb-4 object-cover rounded-xl" src="/Equipamiento/equip4.webp" alt="Imagen 4" />
        <img class="w-full md:w-1/2 px-2 mb-4 object-cover rounded-xl" src="/Equipamiento/equip5.webp" alt="Imagen 5" />
        <img class="w-full md:w-1/2 px-2 mb-4 object-cover rounded-xl" src="/Equipamiento/equip6.webp" alt="Imagen 6" />
        <img class="w-full md:w-1/2 px-2 mb-4 object-cover rounded-xl mx-auto" src="/Equipamiento/equip7.webp" alt="Imagen 7" />
    
      </div>

       
    </body>
  </main>
</Layout>
