---
// src/pages/projects/FirstProject.astro

import Layout from "../../layouts/Layout.astro";
import ArrowDown from "../../components/ArrowDown.astro";

const title = "Equipamiento";
const srcImg = "/secondProject.webp";
---

<Layout {title}>
  <main class="md:mx-20">
    <div class="h-screen flex flex-col">
      <div class="flex-1 flex justify-center items-center max-h-[80%]">
        <img src={srcImg} class="h-auto max-h-full" alt={title} />
      </div>
      <div class="flex justify-center md:pt-9 md:-mt-0 -mt-24 animate-bounce">
        <a href="#experiencia" class="scroll-smooth">
          <ArrowDown />
        </a>
      </div>
    </div>

    <div id="experiencia" class="pt-20">
      <div class="mb-11 h-24 flex items-center justify-center text-center">
        <h1 class="text-4xl text-black font-semibold">{title}</h1>
      </div>
      <div class="mt-5 ">
     
        <p class="text-pretty p-7">
          Este proyecto fue desarrollado para la materia de Equipamiento, donde
          se nos asignó la tarea de diseñar un monoambiente utilizando madera y
          metal como materiales principales. El objetivo era crear un espacio
          multifuncional que pudiera satisfacer diversas actividades diarias
          básicas, como dormir, comer y asearse, además de ofrecer la
          posibilidad de estudiar, recibir visitas que se queden a dormir,
          recibir gente en planta baja y realizar yoga en el mismo espacio. Se
          puso especial énfasis en la flexibilidad del diseño para que el área
          destinada a la práctica de yoga pudiera separarse de la cocina,
          garantizando así un entorno adaptable y funcional que responde a las
          necesidades de un estilo de vida moderno y versátil.
        </p>
      </div>
    </div>
    <body>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 pt-16 mt-20">
        <div>
          <img
            class="h-auto max-w-full rounded-lg"
            src="/equip2.webp"
            alt="imagen del proyecto de centro Social de salud y deporte"
          />
        </div>
        <div>
          <img
            class="h-auto max-w-full rounded-lg"
            src="/equip1.webp"
            alt="imagen del proyecto de centro Social de salud y deporte"
          />
        </div>
        <div>
          <img
            class="h-auto max-w-full rounded-lg"
            src="/equip3.webp"
            alt="imagen del proyecto de centro Social de salud y deporte"
          />
        </div>

       
    </body>
  </main>
</Layout>
