---
// src/pages/projects/FirstProject.astro

import Layout from "../../layouts/Layout.astro";
const title = "Gráficos esquemáticos";
const srcImg = "/firstProject.webp";
---

<Layout {title}>
  <div class="h-screen flex flex-col ">
    <div class="flex-1 flex justify-center items-center max-h-[80%]">
      <img src={srcImg} class="h-auto max-h-full" alt={title} />
    </div>
    <div class="h-24 flex items-center justify-center">
      <h1 class="text-4xl text-black"> {title}</h1>
    </div>
  </div>
  

  <body>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-2 m-16">
      <div class="group relative overflow-hidden rounded-lg">
        <figure>
          <img class="h-auto max-w-full" src="/foto3.webp" alt="Imagen 3" />
        </figure>
        <div
          class="overlay absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center opacity-0"
        >
        </div>
      </div>
      <div class="group relative overflow-hidden rounded-lg">
        <img class="h-auto max-w-full" src="/foto1.webp" alt="Imagen 1" />
        <div
          class="overlay absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center opacity-0"
        >
        </div>
      </div>

      <div class="group relative overflow-hidden rounded-lg px-auto">
        <img class="h-auto max-w-full" src="/foto2.webp" alt="Imagen 2" />
        <div
          class="overlay absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center opacity-0"
        >
        </div>
      </div>
    </div>
  </body>
</Layout>
