---
// src/pages/projects/FirstProject.astro
import Layout from "../../layouts/Layout.astro";
import ArrowDown from "../../components/ArrowDown.astro";

const title = "Renders y Gráficos";
const srcImg = "/RendersYGraficos/renYgraf4.webp";
---

<Layout {title}>
  <main class="md:mx-20">
    <div class="h-screen flex flex-col">
      <div class="flex-1 flex justify-center items-center max-h-[80%]">
        <img src={srcImg} class="h-auto max-h-full" alt={title} />
      </div>
      <div class="flex justify-center md:pt-9 md:-mt-0 -mt-24 animate-bounce">
        <a href="#experiencia" class="scroll-smooth">
          <ArrowDown />
        </a>
      </div>
    </div>

    <div id="experiencia" class="pt-20">
      <div class="my-7 h-24 flex items-center justify-center text-center">
        <h1 class="text-4xl text-black p-7">
          03 | {title}
        </h1>
      </div>
      <div class="md:flex md:flex-row-reverse flex-col-reverse mt-5 md:mt-0">
      </div>
    </div>
    <body>
      <div class="flex flex-wrap -mx-2 ">
        <img class="w-full md:w-1/2 px-2 mb-4 object-cover rounded-xl" src="/RendersYGraficos/renYgraf1.webp" alt="Imagen 1" />
        <img class="w-full md:w-1/2 px-2 mb-4 object-cover rounded-xl" src="/RendersYGraficos/renYgraf2.webp"alt="Imagen 2" />
        <img class="w-full md:w-1/2 px-2 mb-4 object-cover rounded-xl" src="/RendersYGraficos/renYgraf3.webp" alt="Imagen 3" />
        <img class="w-full md:w-1/2 px-2 mb-4 object-cover rounded-xl" src="/RendersYGraficos/renYgraf5.webp" alt="Imagen 5" />
        <img class="w-full md:w-1/2 px-2 mb-4 object-cover rounded-xl mx-auto" src="/RendersYGraficos/renYgraf6.webp" alt="Imagen 5" />
   
      </div>
    </body>
  </main>
</Layout>
