---
// src/layouts/Layout.astro

import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import "../styles/tailwind.css";

// Recibir props del layout
export const prerender = true;
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Forum&family=Work+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <title>{title}</title>
  </head>
  <body class="flex flex-col min-h-screen font-work">
    <Navbar />
    <main class="flex-grow">
      <slot />
      <!-- Aquí se insertará el contenido específico de cada página -->
    </main>
    <hr class="border-gray-700 sm:mx-autolg:my-8 mx-12" />

    <Footer />
  </body>
</html>
