---
// src/layouts/Layout.astro
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import "../styles/tailwind.css";
import Proyects from "../pages/Proyects.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Portfolio</title>
  </head>
  <body class="bg-red-500">
    <Navbar />
    <main>
      <Proyects  />
      <slot />
    </main>
    <Footer />
  </body>
</html>
